<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ShuttleX dev</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
	  <!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>PreciseLocation</key>
		<string>We need precise access to your location temporarily to improve the accuracy of order matching and route calculation.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to find nearby drivers and calculate your route.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is needed to upload your profile picture.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo library access is needed to upload your profile picture.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to upload your profile photo.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to the microphone to capture your voice for voice commands and communication.</string>
  	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We require access to speech recognition to convert your spoken words into text for a better user experience.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter Black.ttf</string>
		<string>Inter Bold.ttf</string>
		<string>Inter ExtraBold.ttf</string>
		<string>Inter ExtraLight.ttf</string>
		<string>Inter Light.ttf</string>
		<string>Inter Medium.ttf</string>
		<string>Inter Regular.ttf</string>
		<string>Inter SemiBold.ttf</string>
		<string>Inter Thin.ttf</string>
		<string>Dealerplate California.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
